# guessing game
rust-doc/guessing_game/debug/
rust-doc/guessing_game/target/

rust-doc/guessing_game/**/*.rs.bk

rust-doc/guessing_game/*.pdb

# variables
rust-doc/variables/debug/
rust-doc/variables/target/

rust-doc/variables/**/*.rs.bk

rust-doc/variables/*.pdb

